@import '__setting.scss';
header{
    padding: 0 $gap;
    color: white;
    background: #DA70D6;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
      font-size: 45px;
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
    }
  }