@import './__setting';

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.trello-app{
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 60px 1fr;
  background: #EE82EE;
  
}
